.terraform
.terraofrm.lock.hcl
# Local .terraform directories
**/.terraform/

# .tfstate files
*.tfstate
*.tfstate.*

# Crash log files
crash.log

# .tfvars files that are meant to be shared across environments
*.auto.tfvars

# .tfvars files that are environment-specific and should not be shared
*.tfvars

# Override files as they are usually used to override resources locally and do not need to be shared
override.tf

# Exclude all .tf files in the working directory, except for example files
!example*.tf

# Exclu

